<h1>Show developer</h1>
<p><%= @developer.name %></p>
<p><%= @developer.surname %></p>
<p><%= @developer.position %></p>

<%= link_to "Edit", edit_developer_path %>
<%= link_to "Back", developers_path %>