<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @programmer.name %>
</p>

<p>
  <b>Position:</b>
  <%= @programmer.position %>
</p>


<%= link_to 'Edit', edit_programmer_path(@programmer) %> |
<%= link_to 'Back', programmers_path %>
